.albums-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
}

.album-item {
  padding: 10px 20px 20px 0;
  list-style-type: none;
  line-height: 28px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 205px;
  cursor: pointer;
}

.album-image {
  position: relative;
}

.album-image img {
  width: 100%;
}

.album-item img:hover {
  opacity: 0.3;
}

.album-details {
  line-height: 22px
}

.album-details .artist-name {
  color: rgb(179, 179, 179);
  font-family: 'Proxima Thin', Georgia, sans-serif;
}