.profile-details-container {
  background: rgb(24, 24, 24);
  padding-bottom: 6px;
  margin-top: 20px;
}

.profile-image {
  border-radius: 50%;
  max-height: 400px;
  max-width: 400px;
  margin: 15px 0;
}

.profile-item {
  border-bottom: 1px solid #666;
  display: flex;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  justify-content: space-between;
}

.item-label {
  font-weight: bold;
  color: #1db954;
}

@media screen and (max-width: 900px) {
  .profile-item {
    flex-direction: column;
    justify-content: flex-start;
  }
}
